.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  width: 600px;
  height: 700px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  font-family: "Segoe UI", sans-serif;
  color: #1e293b;
}

.titulo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 5px;
}

.icon {
  width: 100px;
  height: 100px;
}

input {
  display: flex;
  flex-direction: column;
  background-color: #f1f5f9;
  border: 1px solid #e0e0e0;
  width: 500px;
  height: 30px;
  border-radius: 6px;
}

input:focus {
  border-color: #1f40af;
  outline: none; /* remove a borda padrão do navegador */
  box-shadow: 0 0 5px #4d90fe;
}

label {
  margin-bottom: 10px;
  font-size: 15px;
}

.forms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 15px;
}

.boxInput {
  display: flex;
  flex-direction: column;
  align-items: start;
}

button {
  text-align: center;
  background-color: #1f40af;
  color: white;
  width: 400px;
  height: 30px;
  margin-top: 40px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

button:hover {
  background-color: #2563eb;
}

a {
  color: #1f40af;
}

.overlayStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); /* escurece o fundo */
  backdrop-filter: blur(8px); /* aplica o desfoque */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalStyle {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
}

.flashMsg {
  color: red;
  font-size: 0.9rem;
  margin-top: -30px;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5px;
}
